<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html ng-app="projectViewerApp" ng-controller="projectViewerController" lang="en">


<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Zkick Project Details</title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<!--<script type="text/javascript" src="/loadImages.js"></script>-->








<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Zkick dashboard">
    <meta name="author" content="@Zina">


    <title>ZKickstarter</title>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


    <script type="text/javascript" src="/script.js"></script>
    <script type="text/javascript" src="/isUserLoggedIn.js"></script>


    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/portfolio-item.css" rel="stylesheet">


</head>




<body>
<%- include header %>



<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">


                    <!--Show projects regulators-->
                    <div class="row" style="display: flex;align-items: center; justify-content: center;">
                        <div class="col-sm">
                            <form id="editform" class="form-horizontal" role="form" method="get" action="/getProjectEditor" style="display: none;">
                                <button class="btn edit">Edit Project</button>
                                <div class="col-md-9" hidden="true">
                                    <input type="projectID" class="form-control"  name="projectID" value=<%=project.ID%>>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm" >
                            <form id="deleteform" class="form-horizontal" role="form" method="post" action="/deleteProject" style="display: none;">
                                <button type="submit" class="btn delete">Delete Project</button>
                                <div class="col-md-9" hidden="true">
                                    <input type="projectID" class="form-control"  name="projectID" value=<%=project.ID%>>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm" >
                            <form id="cancelform" class="form-horizontal" role="form" method="post" action="/cancelProject" style="display: none;">
                                <button type="submit" class="btn cancel">Cancel Project</button>
                                <div class="col-md-9" hidden="true">
                                    <input type="projectID" class="form-control"  name="projectID" value=<%=project.ID%>>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="container" >
                        <!--<h2>Carousel Example</h2>-->
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li ng-repeat="image in images" data-target="#myCarouse".{{image.index}} data-slide-to={{image.index}} ></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner"  style="height: 300px;">
                                <div class="item active">
                                    <img src=<%=project.images[0].img_name%> alt="mainImg" style="margin: 0 auto;">
                                </div>


                                <div class="item"  ng-repeat="image in images">
                                    <img class="img-responsive center-block"  ng-src={{image.img_name}} alt={{image.img_name}} style="margin: 0 auto;"/>
                                </div>

                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="details col-md-6">
                    <h3 class="product-title"><%=project.name%></h3>
                    <div class="rating">
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                        <span class="review-no"><strong><%=project.num_of_supporters%></strong> people have already supported us!</span>

                    </div>
                    <h4 class="requested"><strong>To achieve the goal we need: </strong><span id="required_amount_span"><%=project.requestedAmountOfMoney%> $</span></h4>
                    <h4 class="donated"><strong>We already have: </strong><span id="donated_span"><%=project.donated%> $</span></h4>
                    <p id="countdown"></p>

                    <div id="myProgressT" style="width: 100%; padding-top: 7px; padding-bottom: 7px">
                        <div id="myProgress" style="width: 100%; background-color: #ddd;">
                            <div id="myBar" style="width: 50%; height: 20px; background-color: #4CAF50; text-align: center; line-height: 20px; color: white;">10%</div>
                        </div>
                    </div>

                    <div hidden="false">
                        <p id="end_date"><%=project.endDate%></p>
                        <p id="is_admin"></p>
                        <p id="current_user_id"></p>
                        <p id="project_owner_id"><%=project.ownerID%></p>
                    </div>


                    <form class="form-horizontal" role="form" method="post" action="/registerDonations" onSubmit="return checkblank(this);">
                        <div class="form-group" >
                            <!--<label for="amount" class="col-md-3 control-label"><strong>Please support us! </strong></label>-->
                            <p for="amount" class="col-md-5" style="font-size: medium; padding-top: 15px"><strong>Please support us! </strong></p>
                            <div class="input-group col-md-9 " style="padding-left: 15px">
                                <input type="number" name="amount" class="form-control" aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-text" >$</span>
                            </div>
                            <div hidden="true">
                                <input type="projectID" class="form-control"  name="projectID" value=<%=project.ID%>>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-3">
                                <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Support project</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div name="descripion_div" style="width:1050px; padding-top:25px; padding-left: 25px">
                    <h1><strong>About us:</strong></h1>
                    <p class="product-description" style="font-size: small;"><%=project.description%></p>
                </div>

                <div name="demo_link" id="demo_link" style="width:1050px; padding-top:25px; padding-left: 25px">
                    <h1><strong>Demo:</strong></h1>
                    <a href=<%=project.demo_link%> class="product-demo" style="font-size: small;"><%=project.demo_link%></a>
                    <!--<a href="localhost:8282/birds" class="product-demo" style="font-size: small;">localhost:8282/birds</a>-->
                    <!--<p class="product-demo" style="font-size: small;"><%=project.demo_link%></p>-->
                </div>


                <iframe width="1050" height="600" style="padding-top: 50px; padding-left: 25px"
                        src= <%=project.video_link%> frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>

</div>

<%- include footer %>
</body>
</html>




<script>


    $.ajax(
        {
            type:'GET',
            url:'/getUserDetails',
            success: function(response){
                if (response.data != 'undefined'){
                    document.getElementById("current_user_id").innerHTML = response.data.id
                    document.getElementById("is_admin").innerHTML = response.data.is_admin
                    hideAdminButtons();
                }
            }
        }
    );
</script>

<script>
    function hideAdminButtons(){
        var userID = document.getElementById("current_user_id").textContent;
        var ownerID = document.getElementById("project_owner_id").textContent;
        var is_admin = document.getElementById("is_admin").textContent;

        if (userID != "undefined"){
            if (is_admin != "undefined" ){
                if (is_admin == 1 || ownerID == userID){
                    document.getElementById("deleteform").style.display = 'block'
                    document.getElementById("editform").style.display = 'block'
                    document.getElementById("cancelform").style.display = 'block'
                }
            }
        }
    }

</script>


<script>
    var percentage = 0;
    var donated = document.getElementById("donated_span").textContent.replace("$", "");
    var required = document.getElementById("required_amount_span").textContent.replace("$", "");
    if (donated && required){
        if (donated != " " && !isNaN(donated) && !isNaN(required))
            percentage = (Number(donated) * 100) / Number(required);
    }
    // document.getElementById("myBar").innerHTML = Math.round(percentage) + "%";
    if (percentage > 100){
        document.getElementById("myBar").style.width = 100 + "%";
    }
    else{
        document.getElementById("myBar").style.width = Math.round(percentage) + "%";
    }

    if (percentage == 0)
        document.getElementById("myBar").innerHTML = "0%";
    else
        document.getElementById("myBar").innerHTML = Math.round(percentage) + "%";


</script>


<script type="text/javascript" src="/loadImages.js"></script>

<style>


    .edit {
        border-color: #2196F3;
        color: dodgerblue
    }

    .edit:hover {
        background: #2196F3;
        color: white;
    }

    /* Red */
    .delete {
        border-color: #f44336;
        color: red
    }

    .delete:hover {
        background: #f44336;
        color: white;
    }


    .cancel {
        background-color: white;
        color: black;
        border: 2px solid #555555;
    }

    .cancel:hover {
        background-color: #555555;
        color: white;
    }

    /*****************globals*************/
    body {
        font-family: 'open sans';
        overflow-x: hidden; }

    img {
        max-width: 100%; }

    .preview {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    @media screen and (max-width: 996px) {
        .preview {
            margin-bottom: 20px; } }

    .preview-pic {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }

    .preview-thumbnail.nav-tabs {
        border: none;
        margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
        width: 18%;
        margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
    .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }

    .tab-content {
        overflow: hidden; }
    .tab-content img {
        width: 100%;
        -webkit-animation-name: opacity;
        animation-name: opacity;
        -webkit-animation-duration: .3s;
        animation-duration: .3s; }

    .card {
        margin-top: 50px;
        background: #eee;
        padding: 3em;
        line-height: 1.5em; }

    @media screen and (min-width: 997px) {
        .wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex; } }

    .details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }

    .colors {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1; }

    .product-title, .price, .sizes, .colors {
        text-transform: UPPERCASE;
        font-weight: bold; }

    .checked, .price span {
        color: #ff9f1a; }

    .product-title, .rating, .product-description, .price, .vote, .sizes {
        margin-bottom: 15px; }

    .product-title {
        margin-top: 0; }

    .size {
        margin-right: 10px; }
    .size:first-of-type {
        margin-left: 40px; }

    .color {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        height: 2em;
        width: 2em;
        border-radius: 2px; }
    .color:first-of-type {
        margin-left: 20px; }

    .add-to-cart, .like {
        background: #ff9f1a;
        padding: 1.2em 1.5em;
        border: none;
        text-transform: UPPERCASE;
        font-weight: bold;
        color: #fff;
        -webkit-transition: background .3s ease;
        transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
        background: #b36800;
        color: #fff; }

    .not-available {
        text-align: center;
        line-height: 2em; }
    .not-available:before {
        font-family: fontawesome;
        content: "\f00d";
        color: #fff; }

    .orange {
        background: #ff9f1a; }

    .green {
        background: #85ad00; }

    .blue {
        background: #0076ad; }

    .tooltip-inner {
        padding: 1.3em; }

    @-webkit-keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3); }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1); } }

    @keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3); }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1); } }

</style>


<script>
    // Set the date we're counting down to
    var date = document.getElementById("end_date").textContent
    var countDownDate = new Date(date).getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {

// Get todays date and time
        var now = new Date().getTime();

// Find the distance between now an the count down date
        var distance = countDownDate - now;

// Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
//var seconds = Math.floor((distance % (1000 * 60)) / 1000);

// Output the result in an element with id="demo"
        document.getElementById("countdown").innerHTML = "Time Left: " + days + "d " + hours + "h "
            + minutes + "m " ;// + seconds + "s ";

// If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>

